@font-face {
    font-family: "Computer Modern";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/cmunrm.ttf");
}

html,
body {
    touch-action: none;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    font-family: "Computer Modern";
}

.proset-title-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proset-title {
    font-family: "Computer Modern";
    font-size: var(--sixty-units);
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

@media all and (hover: hover) {
    .proset-title:hover {
        transform: scale(1.1);
    }
}

.proset-title.clicked {
    transform: scaleY(-1);
}

.proset-score {
    font-family: "Computer Modern";
    font-size: var(--twenty-four-units);
}

.proset-game {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fifteen-units);
}

.proset-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fifteen-units);
    border: var(--two-units) solid var(--foreground-primary);
    border-radius: var(--ten-units);
    padding: var(--twenty-units);
    margin-bottom: var(--twenty-units);
}

.proset-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--fifteen-units);
}

.proset-card {
    border-radius: var(--ten-units);
    border: var(--two-units) solid var(--foreground-primary);
    background-color: var(--background-primary);
    height: var(--one-hundred-fifty-units);
    width: var(--one-hundred-units);

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

@media all and (hover: hover) {
    .proset-card:hover {
        transform: scale(1.1);
    }
}

.proset-card.selected {
    background-color: var(--background-selected-primary);
    border: var(--two-units) solid var(--foreground-selected-primary);
}

.proset-card.eliminated {
    transform: scale(0);
}

.proset-card.example {
    transform: scale(0.65);
    margin: calc(-1.45 * var(--fifteen-units)) calc(-1.45 * var(--ten-units));
}

.proset-dots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
    margin: auto;
}

.proset-dot {
    border-radius: 50%;
    border: var(--one-unit) solid var(--foreground-primary);
    height: var(--twenty-five-units);
    width: var(--twenty-five-units);
    margin: var(--ten-units);
}

.proset-card.selected .proset-dots .proset-dot {
    border: var(--one-unit) solid var(--foreground-selected-secondary);
}

.proset-empty-dot {
    width: var(--one-hundred-units);
    height: 0;
}

.proset-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.proset-button {
    border-radius: var(--ten-units);
    border: var(--two-units) solid;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    height: var(--forty-units);
    width: var(--one-hundred-units);
    font-family: "Computer Modern", sans-serif;
    font-size: var(--twenty-four-units);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.proset-button span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

@media all and (hover: hover) {
    .proset-button:hover {
        background-color: var(--background-secondary);
        transition: all 0.1s ease-in-out;
    }
}

.proset-button.clicked {
    background-color: var(--background-selected-primary);
    border-color: var(--foreground-selected-primary);
    color: var(--foreground-secondary);
}

.about-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    touch-action: none;

    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.about-modal.show {
    visibility: visible;
    opacity: 1;
}

.about-content {
    border: var(--two-units) solid var(--foreground-primary);
    border-radius: var(--ten-units);
    background-color: var(--background-primary);
    margin: auto;
    margin-top: 12.5vh;
    width: 75%;
    height: 75%;
    padding: var(--ten-units);

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-item-divider {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--ten-units);
}

.about-item-divider h1 {
    margin: var(--ten-units) 0;
}

.about-item-divider hr {
    width: 100%;
    color: var(--foreground-primary);
}

.about-close {
    margin: auto;
    margin-right: 0;
    color: var(--foreground-primary);
    cursor: pointer;
    font-size: var(--twenty-four-units);
    padding: var(--five-units) var(--ten-units);
}

@media all and (hover: hover) {
    .about-close:hover,
    .about-close:focus {
        color: var(--foreground-selected-primary);
        float: right;
    }
}

@media all and (min-aspect-ratio: 1/1) {
    :root {
        --one-unit: min(calc(100vw / 650), calc(100vh / 600), 1px);
    }

    .proset-game {
        flex-direction: row;
    }

    .proset-rows {
        margin: var(--ten-units);
    }

    .about-item {
        flex-direction: row;
        align-items: baseline;
    }

    .about-item-divider {
        width: 40%;
        margin-bottom: 0;
    }
}
