.proset-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.proset-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.proset-card {
    border-radius: 10px;
    border: 2px solid black;
    height: 150px;
    width: 100px;
    position: relative;
}

.proset-dot {
    border-radius: 50%;
    border: 1px solid;
    height: 25px;
    width: 25px;
    position: absolute;
}

.proset-dot.top {
    top: 8%;
}

.proset-dot.middle {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.proset-dot.bottom {
    bottom: 8%;
}

.proset-dot.left {
    left: 10%;
}

.proset-dot.right {
    right: 10%;
}